$icon-size: 25px;
$calendar-width: 500px;
$calendar-width-phone: 350px;
$color: #143845;
$nav-color: #e1ac3b;
$nav-height: 50px;

.calendar {
  position: absolute;
  width: $calendar-width;
  @media (max-width: 480px) {
    width: $calendar-width-phone;
  }

  &__wrapper {
    color: $color;
  }

  &__button {
    width: $icon-size;
    height: $icon-size;
    color: initial;
  }

  &__nav {
    background-color: $nav-color;
    min-height: $nav-height;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
      flex-grow: 2;
      text-align: center;
    }
    &-button {
      min-width: 50px;
      background-color: $nav-color;
      color: $color;
      font-size: 20px;

      &:nth-child(1) {
        text-align: right;
      }
      &:nth-child(3) {
        text-align: left;
      }
    }

  }

  &__display {
    background-color: white;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(#{$calendar-width} / 7);
    padding: 10px; 

    &-disabled {
      color: #9e9e9e;
    }
    &-selected {
      background-color:#143845;
      color: white;
    }
  }

  &__days {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__controls {
    padding: 75px 0 25px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      width: 150px;
      height: 30px;
      border: 2px solid $color;
      color: $color;
      border-radius: 5px;
    }
  }
}