.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: #121212;

  .wrapper {
    margin-top: 5px;
    padding: 5px 15px;
    border: 2px solid #e1ac3b;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}